#!/bin/bash

## This file sets the qsub variables that are used in the batch queueing system
## As SPANDx will run with PBS as the default scheduler please specify below if you are using SGE or SLURM
## note that SPANDx will currently only work with SGE,  PBS and SLURM systems. Default is PBS.

SCHEDULER=SGE #must be PBS, SGE, SLURM, or NONE 

# Handling of standard error N/A for SGE systems
#{oe,eo,n}. oe merges standard error to standard output, eo merges standard output to standard error, n indicates neither and two separate files will result
# PBS option to merge StErr and StOut
ERROR_OUTPUT=n

# SLURM and PBS memory handling
# If you would like to alter the amount of memory assigned to SLURM jobs please modify the following variable
# Specified in the sbatch scripts as --mem=$SLURM_MEM
SLURM_MEM=4096
PBS_MEM=4096mb

#TO DO
# Add SGE memory management. 
# Adding '-l h_vmem=8G' after the walltime request will fix memory issues in SGE until implemented

# SGE option to merge StErr with the StOut file
ERROR_OUT_SGE=no

# walltime
# PBS
WALL_T=96:00:00
# SGE
H_RT=24:00:00
# SLURM
TIME=0-96:0:00

# email
# Options for the way job e-mail is handled is flagged with -m within the qsub line
# {a,b,e,n}. a - when job is aborted by PBS, b - when job begins, e - when job terminates
# By default no mail will be sent with SPANDx. Default settings are recommended as SPANDx can spawn a large number of jobs if there are several sequences to be analysed. If mail is desired please change the variables below
# Eg to enable aborted and terminated job e-mail "MAIL=ae" and set ADDRESS=your.email@address.com
# PBS and SGE
MAIL=n

# SLURM
MAIL_SLURM=FAIL
# PBS and SGE; keep generic email address if mail turned off (the var cannot be empty)
ADDRESS=user@university.edu

# Request for each job; declare empty var for no scheduler
JOB_CPUs='-pe smp 1-40'
#JOB_CPUs='-pe 12'  #requests 12 CPUs on a node for each job submission

# Variable or number of CPUs passed to individual commands (within a job)
CPUs='$NSLOTS'  #scheduler's CPU variable
# CPUs='32'     #for no scheduler

# Queue name; declare empty var for default queue
QUEUE='-q all.q'
#QUEUE=''
